.icon-left{
    position: absolute;
    top:10px;
    left:10px;
}

.icon-right{
    position:absolute;
    bottom:10px;
    right:10px;
}

.SeasonDisplay.Winter i{
     color: blue;
}

.SeasonDisplay.Summer i{
    color: orange;
}

.SeasonDisplay{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Winter{
    background-color: aliceblue;
}

.Summer{
    background-color: yellow;
}